@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
    --color-major: #34547A;
    --color-minor: #EEEFF1;
    --font-main: Roboto;
}

body {
    font-family: var(--font-main), Verdana, Tahoma, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 78px;
}

.global-container {
    max-width: calc(1920px - 20px);
    margin: 0 auto;

}

.background-color__major {
    background-color: var(--color-major);
}

.background-color__minor {
    background-color: var(--color-minor);
}

.header__container {
    height: 700px;
}

.header-menu__container {
    display: flex;
    gap: 42px;
}

.header-menu__list__item a{
    color: black;
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    /*font-variant-caps: titling-caps;*/
    /*letter-spacing: 10;*/
}

.header-menu__list__item:hover a{
    color: var(--color-major);
}
