* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 15rem;
    text-align: center;
    color: yellow;
}

#press_any_key {
    color: white;
    font-size: 3rem;
    text-align: center;
}