.text_box {
    background-color: skyblue;
    width: 10%;
}

.cell {
    border: 3px solid green;
}

.emphasis_1 {
    font-family: Verdana, Geneva, sans-serif;
    color: red;
    font-size: 3rem;
}

.emphasis_2 {
    color: grey;
    font-style: italic;
}

.emphasis_3 {
    color: magenta;
    font-style: italic;
}

.div_1 {
    max-width:30%;
    background-color: aqua;
    padding: 5px;
}

.div_2 {
    max-width:30%;
    background-color: yellow;
    padding: 5px;
}

.div_3 {
    background-color: lightgreen;
    padding: 5px;
}

.div_inside {
    /*background-color: coral;*/
    border: 3px solid blue;
    width:100px;
    height: 20px;
    margin: 10px;
    padding: 5px;
}

.div_inside::first-letter {

    font-weight: bold;
    font-size: 1.2rem;
    font-variant-caps: all-petite-caps;
    color: blue;
}

.div_n::first-letter {

    font-weight: bold;
    color: purple;
}

