.container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.media__all {
    color: black;
    background-color: white;
    opacity: 0.8;
    text-align: center;
    font-family: Serif, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 4px;
    position: fixed;
    top: 33px;
}

@media  (max-width: 374px){
    .media__all {
        display: none;
    }
    .media__0 {
        display: initial;
        color: red;
    }
}

@media  (min-width: 375px){
    .media__all {
        display: none;
    }
    .media__375 {
        display: initial;
        color: brown;
    }
}

@media  (min-width: 800px){
    .media__all {
        display: none;
    }
    .media__800 {
        display: initial;
        color: blue;
    }
}

@media  (min-width: 1024px) {
    .media__all {
        display: none;
    }
    .media__1024 {
        display: initial;
        color: green;
    }
}