:root {
  --bs-primary: rgb(100, 255, 255);
}

.logo_best {
  width: 70px;
  /*height: 70px;*/
  margin: 10px;
}

.menu_name {
  font-family: sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  color: red;
}
.carousel-text-color {
  color: var(--bs-primary);
}