@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Graphiklweb";
  src: url("../fonts/graphiklcweb_medium.ttf") format("truetype");
}

:root {
  --color-main: #FF6336;
;
  --font-main: Graphiklweb;
}

.logo_nav {
  /*width: 15%;*/
  min-width: 100px;
  max-width: 180px;
  /*width: 110px;*/
  padding: 1vw;
}
.font__nav {
  font-family: var(--font-main), Verdana, Geneva, Tahoma, sans-serif;
}

.text__nav {
  @apply text-xs lg:text-xl xl:text-2xl font__nav;
}