body {
    background: #3377ff;
}

#mainContainer {
    /*background: green;*/
    display: flex;
    gap: 100px;
}

.weather, .post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.icon {
    width: 10vw;
    height: 10vh;
    &:hover {
        width: 20vw;
        height: 20vh;
    }
.hidden {
    display: none;
}

.visible {
    display: block;
}
}