body {
    background: #3377ff;
}

#main__container {
    display: flex;
    justify-content: space-around;
}

#weather__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#search__image {
    width: 5vw;
    height: 5vw;
}

.weather, .post {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

#weather__icon {
    width: 10vw;
    height: 10vh;

    &:hover {
        width: 20vw;
        height: 20vh;
    }
}

.hidden {
    display: none;
}


.visible {
    display: block;
}
